// PORT=5000
// DEV_NAME=developpment
// URL_DB=mongodb+srv://libanafrancebackend:MVh1S0JDzuCpiTxN@cluster0.jdjzk6x.mongodb.net/?retryWrites=true&w=majority
// DB_NAME=LibanAParis
// USERNAME_DB=libanafrancebackend
// PASSWORD=MVh1S0JDzuCpiTxN
// SECRET_KEY=3s6v9y$B&E)H@McQfTjWmZq4t7w!z%C*
// JWT_LIFETIME=1d